{% extends 'layout.twig' %}

{% block body %}
    <h1>Discussion</h1>
    <ul id="users">
        
        {% for user in users %}
            <li class="usersAff">
                <a href="/users/{{ user._id }}">
                    <p><span class="lastName">{{user.lastName}}</span></p>
                    <p><span class="name">{{user.name}}</span></p>
                </a>
            </li>
        {% endfor %}
    </ul>
            <p id="line">_______________________________________________________________________________<p>
    <ul id="conversations">
        {% for tchat in conversations %}
            <li class="tchatsAff">
                <a href="/tchat/{{ tchat._id }}">
                    <p><span class="avatar"><img src="{{ tchat.avatar }}"/></span></p>
                    <p><span class="name">{{ tchat.name }}</span></p>
                </a>
            </li>

        {% endfor %}
    </ul>
{% endblock %}
